{% extends 'base.html'%}
{%block title%}
EMS - Setting
{%endblock%}
{% block content%}
<div class="container">
  {% if error_statement%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ error_statement}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <form class="form-floating" action="/form" method="POST">

    <div class="row">
      <div class="col">
        <label><B>{{ data.dbname }}</B></label>
      </div>
      <div class="col">
        <label><b>T1 Start</b></label>
      </div>
      <div class="col">
        <label><b>T1 Stop</b></label>
      </div>
      <div class="col">
        <label><b>T2 Start</b></label>
      </div>
      <div class="col">
        <label><b>T2 Stop</b></label>
      </div>
    </div>
    <br />


    <div class="row">
      <div class="col">
        <label><b>Low: </b></label>
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.LowT1Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.LowT1Stop }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.LowT2Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.LowT2Stop }}">
      </div>
    </div>
    </br>


    <div class="row">
      <div class="col">
        <label><b>Normal: </b></label>
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.NormT1Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.NormT1Stop }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.NormT2Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.NormT2Stop }}">
      </div>
    </div>
    </br>


    <div class="row">
      <div class="col">
        <label><b>Peak: </b></label>
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.PeakT1Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.PeakT1Stop }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.PeakT2Start }}">
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ data.PeakT2Stop }}">
      </div>
    </div>
    </br>

    <div class="row">
      <div class="col">
        <label><b>Pass: </b></label>
      </div>
      <div class="col">
        <input type="password" class="form-control ">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <div class="col">
      </div>
    </div>
  </form>
</div>
{% endblock%}